{{ $logo:= site.Params.logo }}
{{ $logo_darkmode:= site.Params.logo_darkmode }}
{{ $logo_width:= site.Params.logo_width | default "150px" }}
{{ $logo_height:= site.Params.logo_height | default "auto" }}
{{ $logo_text:= site.Params.logo_text }}

{{ if $logo }}
{{ $logo_img := resources.Get $logo }}
{{ $logo_darkmode_img := resources.Get $logo_darkmode }}

{{ if $logo_img }}
<img class="img img-light" style="height: {{ $logo_height }}; width: {{ $logo_width }}; max-height: 100%;"
    src="{{ $logo_img.RelPermalink }}" alt="{{ site.Title }}" />
{{ end }}

{{ if $logo_darkmode_img }}
<img class="img img-dark" style="height: {{ $logo_height }}; width: {{ $logo_width }}; max-height: 100%;"
    src="{{ $logo_darkmode_img.RelPermalink }}" alt="{{ site.Title }}" />
{{ end }}

{{ else if $logo_text }}
{{ $logo_text }}
{{ else }}
{{ site.Title }}
{{ end }}